*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
    font-family: 'PT Sans', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #fff;
}


/* Container 
========================*/
.container {
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
}


/* Header 
========================*/
.header {
    width: 100%;
    padding: 30px 0;

    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;

    border-bottom: 1px solid #2b2f37;
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 240px;
}

.logo-text {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.red {
    color: #e84c3d;
}

/* Navigation 
========================*/
.nav {
    font-size: 12px;
    text-transform: uppercase;
}

.nav-link {
    display: inline-block;
    vertical-align: top;
    margin: 0 10px;

    position: relative;

    color: #fff;
    text-decoration: none;

    transition: color .2s linear;
}

.nav-link:after {
    content: "";
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 10;

    width: 100%;
    height: 1px;

    background-color: #fff;
    opacity: 0;
}

.nav-link:hover {
    color: #e84c3d;
}

.nav-link:hover:after {
    opacity: 1;
    background-color: #e84c3d;
}


/* Intro 
========================*/
.intro {
    width: 100%;

    background: #2a2e35 url("img/intro.jpg") top no-repeat;
}

.intro-inner {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    width: 100%;
    max-width: 780px;
    margin: 0 auto;
    height: 583px;
}

.intro-title {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 100;
    line-height: 1;
    text-align: center;

    margin-bottom: 20px;
}

.intro-subtitle {
    width: 100%;
    max-width: 480px;
    margin: 0 auto;
    text-align: center;

    margin-bottom: 20px;
}

.intro-subtitle-text {
    font-size: 16px;
    font-weight: 400;
}

/* Button 
=========================*/
.login-btn {
	width: 100px;
	height: 40px;
	padding: 10px;
	
	text-align: center;
	font-size: 12px;
	font-weight: 400;
	text-decoration: none;
	color: #fff;
	text-transform: uppercase;

	border: 1px solid #e84c3d;
}

.login-btn:hover {
	background-color: #e84c3d;
}

.intro-btn {
    display: inline-block;
    vertical-align: top;
    margin: 20px auto;

    width: 220px;
    height: 50px;
    padding: 15px;
    text-align: center;

    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    color: #fff;

    background-color: #e84c3d;

    transition: background .1s linear,
        color .1s linear;
}

.intro-btn:hover {
    background-color: #fff;
    color: #e84c3d;
}

.learn-more-btn {
    font-size: 12px;
    font-weight: 400;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
}

.learn-more-btn:hover {
    text-decoration: underline;
}


/* Strengths 
=========================*/
.strengths {
    width: 100%;
    background-color: #2b2f37;
}

.strengths-inner {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.strengths-item {
    flex: 1 1 0;
    padding: 30px 15px 50px;

    text-align: center;
}

.strengths-icon {
    margin: 10px 0;
    height: 73px;
    width: auto;
}

.strengths-title {
    margin: 5px 0;

    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
}

.strengths-text {
    margin: 10px 0;

    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    color: #6f798c;
}

.strengths-link {
    font-size: 12px;
    color: #e84c3d;
    font-weight: 400;
}

.strengths-item:hover {
    background-color: #272b33;
}

.strengths-link:hover {
    color: #ff5946;
}


/* Search-domain 
=========================*/
.search-domain {
    width: 100%;
    background-color: #fff;
}

.search-domain-inner {
    width: 100%;
    max-width: 640px;
    padding: 40px 0 20px;
    margin: 0 auto;

    text-align: center;
}

.main-title {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    font-weight: 100;
    line-height: 1;
    color: #000;
}

.main-subtitle {
    margin: 20px 0 30px;

    font-size: 16px;
    font-weight: 400;
    line-height: 1.25;
    color: #000;
}


/* Find-domain-input
=========================*/
.find-domain {
    width: 100%;
    height: 70px;
    padding: 10px;
    text-align: left;

    background: linear-gradient(to right, #903c4b, #36344f);

    margin-bottom: 30px;
}

.find-input-domain {
    position: relative;

    width: 480px;
    height: 50px;
    padding: 15px;

    font-size: 16px;

    border: none;
    outline: none;
}

.find-input-domain::placeholder {
    color: #ccc;
}

.find-domain-btn {
    display: inline-block;
    position: absolute;
    height: 50px;
    width: 140px;
    padding: 15px;


    font-size: 14px;
    font-weight: 700;
    color: #fff;

    background-color: #e84c3d;

    border: none;
    cursor: pointer;
}

.find-domain-btn:hover {
    background-color: #ff5946;
}


/* Domain-instructions 
=========================*/
.domain-instructions {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 40px;

    color: #000;
}

.instructions-item {
    flex: 1 1 0;
    position: relative;
    padding-left: 80px;
    padding-right: 30px;
}

.instructions-icon {
    position: absolute;
    top: 0;
    left: 25px;
    z-index: 10;
}

.instructions-title {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.instructions-text {
    font-size: 14px;
    font-weight: 400;
    color: #5e5e5e;
}


/* Features 
=========================*/
.features {
    width: 100%;
    background-color: #2c3039;
}

.features-inner {
    width: 100%;
    margin: 0 auto;
    padding: 70px 0 40px;
}

.f-title {
    text-align: center;
    color: #fff;
}

.features-list {
    display: flex;
    flex-wrap: wrap;
}

.features-item {
    flex: 31%;
    position: relative;
    margin: 30px 0;
    padding-left: 80px;
    padding-right: 30px;
}

.features-icon {
    position: absolute;
    top: 0;
    left: 25px;
    z-index: 10;
}

.features-title {
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
}

.features-text {
    font-size: 14px;
    font-weight: 400;
    color: #98a3a3;
}


/* Pick-plan 
=========================*/
.pick-plan {
    width: 100%;
    background-color: #fff;
}


.pick-plan-inner {
    width: 100%;
    margin: 0 auto;
    padding: 40px 0 20px;

    text-align: center;
}

.plan-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0 60px;
    margin-bottom: 30px;
}

.plan-subtitle-container {
    width: 100%;
    max-width: 340px;
    margin: 0 auto;
}

.chat-person {
    color: #e74c3c;
    text-decoration: none;
}

.chat-person:hover {
    text-decoration: underline;
    color: #ff5946;
}

/* Plan-item 
=========================*/
.plan-item {
    flex: 1 1 0;

    border: 1px solid #bebebe;

    color: #000;

    z-index: 10;

    transition: background .1s linear,
        color .1s linear;
}

.plan-header {
    padding: 20px;

    transition: background .1s linear,
        color .1s linear;
}

.plan-title {
    font-size: 18px;
    font-weight: 700;

    transition: background .1s linear,
        color .1s linear;
}

.plan-subtitle {
    font-size: 14px;

    margin: 5px 0 0;
    padding-bottom: 15px;
    border-bottom: 1px solid #bebebe;

    transition: background .1s linear,
        color .1s linear;
}

.plan-price {
    font-family: 'Roboto', sans-serif;
    color: #000;

    transition: background .1s linear,
        color .1s linear;
}

.currency {
    font-size: 40px;
    font-weight: 700;
    vertical-align: top;
}

.value {
    font-size: 50px;
    font-weight: 700;
}

.period {
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;

    transition: background .1s linear,
        color .1s linear;
}

.plan-info {
    font-size: 14px;
    color: #5e5e5e;

    transition: background .1s linear,
        color .1s linear;
}

.info-bold {
    font-weight: 700;
    color: #000;

    transition: background .1s linear,
        color .1s linear;
}

.plan-btn {
    color: #fff;
    background-color: #2c3039;

    transition: background .1s linear,
        color .1s linear;
}

/* Plan-item:HOVER 
=========================*/

.plan-item:hover {
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    z-index: 20;

    background-color: #2c3039;
    border: none;

    color: #fff;
}

.plan-item:hover .plan-header {
    width: 100%;
    margin-bottom: 15px;

    background-color: #e84c3d;

    color: #fff;
    border: none;
}

.plan-item:hover .plan-subtitle {
    border-bottom: none;
    padding: 0;
    color: #fff;
}

.plan-item:hover .plan-title {
    color: #fff;
}

.plan-item:hover .plan-price {
    color: #fff;
}

.plan-item:hover .period {
    color: #fff;
}

.plan-item:hover .plan-info {
    color: #fff;
}

.plan-item:hover .info-bold {
    color: #fff;
}

.plan-item:hover .plan-btn {
    background-color: #e84c3d;

}

.plan-item:hover .plan-btn:hover {
    background-color: #fff;

}


/* Testimonials
=========================*/
.testimonials {
    width: 100%;
    background-color: #fff;
}

.testimonials-inner {
    width: 100%;
    max-width: 780px;
    margin: 0 auto;
    padding: 20px 0;

    color: #000;
    text-align: center;
}

.quotes {
    margin: 10px 0;
}

.quotes-text {
    margin: 15px 0 20px;
    font-size: 16px;
}

.quotes-author-img {
    margin: 15px 0;
}

.quotes-author-name {
    margin: 15px 0;
    font-size: 12px;
    color: #5e5e5e;
}


/* Company-blog
=========================*/
.company-blog {
    width: 100%;
    background-color: #fff;
}

.company-blog-inner {
    width: 100%;
    max-width: 780px;
    margin: 0 auto;
    padding: 20px 0;

    color: #000;
    text-align: center;
}

.blog-title {
    margin-bottom: 40px;
}

/* Arcticles
=========================*/
.arcticles-item {
    display: flex;
    justify-content: space-between;
    text-align: left;
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;

    border-bottom: 1px solid #ebebeb;
}

.arcticle-content {
    max-width: 540px;
    padding: 0 20px 20px 0;
}

.arcticle-title {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 10px;
}

.datetime {
    font-size: 12px;
    color: #5e5e5e;
}

.comments {
    font-size: 12px;
    font-weight: 400;
}

.datetime,
.comments,
.likes,
.like-amount {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 5px;
}

.like-img {
    cursor: pointer;
}

.like-amount {
    font-size: 12px;
    font-weight: 700;
}

.blog-btn:hover {
    background-color: #e84c3d;
    color: #fff;
}

.arcticle-shield {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;

    width: 100%;
    height: 100%;

    background-color: rgba(255, 255, 255, .7);
}

.arcticles-item:hover .arcticle-shield {
    display: none;
}

.arcticles-item:nth-child(4) {
	border: none;
}

/* Map
=========================*/
.contact-map {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 548px;
    background: #fff url("img/map.png") center no-repeat;
}

.map-inner {
    width: 100%;
    max-width: 470px;
    margin: 0 auto;
    padding-right: 60px;

    color: #000;
}

.contact-subtitle {
    display: inline-block;
    width: 220px;
    margin-top: 30px;

    font-size: 18px;
}

.schedule {
    font-size: 12px;
}

.tel {
    display: inline-block;
    margin: 5px 0;
    margin-right: 5px;

    font-size: 16px;
    font-weight: 400;
    color: #000;
    text-decoration: none;
}

.tel:hover {
    color: #e84c3d;
}

.comma:after {
    content: ",";
    display: inline-block;
    color: #000;
}


/* Socials
=========================*/
.socials {
    width: 100%;
    background-color: #2c3039;
}

.socials-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 15px 0;
}

.social-list,
.subscribe {
    flex: 49%;
}

.social-title {
    display: inline-block;
    margin-right: 80px;

    text-transform: uppercase;
    font-size: 12px;
}

.social-list {
    display: flex;
    align-items: center;
}

.social-icons {
    position: relative;
    top: 3px;
    display: inline-block;
    margin-right: 40px;
}

.subscribe {
    position: relative;
    right: 20px;
}

.subscribe-title {
    margin-right: 20px;
}

.email-input {
    width: 280px;
    height: 40px;

    font-size: 14px;
}

.email-btn {
    width: 80px;
    height: 40px;
    padding: 0;

    font-size: 12px;
}


/* Footer
=========================*/
.footer {
    width: 100%;
    background-color: #fff;
}

.footer-inner {
    margin: 0 auto;
    color: #000;
    padding: 20px 0;

    display: flex;
}

.footer-150 {
    display: inline-block;
    position: relative;
    top: 0;
    left: 0;
    width: 150px;
    margin-right: 10px;
}

.footer-list-title {
    font-weight: 700;
    margin-bottom: 5px;
    margin-right: 0;
}

.footer-link {
    display: inline-block;
    font-size: 12px;
    color: #5e5e5e;
    text-decoration: none;
    margin: 5px 0;
}

.footer-link:hover {
    color: #e84c3d;
}

.footer-copyr {
    width: 300px;
}

.footer-tel {
    display: block;
    font-size: 18px;
    font-weight: 700;
    margin: 0;
}

.footer-email {
    font-size: 14px;
    font-weight: 400;
    color: #e84c3d;
    text-decoration: none;
}

.footer-email:hover {
    color: #ff5946;
    text-decoration: underline;
}

.copyright {
    margin: 10px 0;

    font-size: 12px;
    font-weight: 400;
}